$headSize: 60px; // 编辑器头部的高度
$menuSize: 275px; // 编辑器菜单宽度
$operatorSize: 275px; // 右侧操作栏的宽度

$ibc: #dcdfe6; // 边框色
$ibl: #ebeef5; // 边框色(轻)
$itc: #314659; // 字体颜色
$icc: rgba(0, 0, 0, 0.45); // 图标颜色
$boxShadowColor: #f0f1f2; // 阴影颜色
$primary: #409EFF; // 基础色

.editor {
  position: fixed;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  &::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(0, 0, 0, .1);
  }
  .editor-menu,
  .editor-head,
  .editor-operator,
  .editor-body {
    position: absolute;
    &.editor-head {
      top: 0;
      left: $menuSize;
      right: $operatorSize;
      height: $headSize;
      z-index: 1;
    }
    &.editor-menu {
      top: 0;
      left: 0;
      bottom: 0;
      width: $menuSize;
      background-color: white;
      border: 1px solid $ibc;
    }
    &.editor-operator {
      top: 0;
      right: 0;
      bottom: 0;
      width: $operatorSize;
      border-left: 1px solid $ibc;
    }
    &.editor-body {
      top: 0;
      right: $operatorSize;
      bottom: 0;
      left: $menuSize;
      box-sizing: border-box;
      padding-top: $headSize;
      padding-bottom: 300px;
      background-color: #f6f6f6;
    }
  }
}